* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* header */

.contenitore_navbar {
    position: fixed;
    width: 100vw;
}

header {
    position: fixed;
    width: 100vw;
}

.contenitore_sony {
    background-color: black;
    height: 50px;
}

.logo_sony {
    height: 20px;
    margin-top: 15px;
    right: 30px;
    position: absolute;
}

.bottone_accedi {
    background-color: black;
    border-radius: 40px;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
}

.link_playstation {
    color: black;
}

.link_search {
    margin-top: 12px;
    margin-left: 1rem;
    margin-right: 30px;
    font-size: 20px;
}

/* /header */

/* main */

/* hero image returnal */

.contenitore_hero {
    width: 100vw;
    height: 800px;
    background-image: url(./img/jumbo-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 2rem;
}

.contenitore_returnal {
    position: absolute;
    top: 14rem;
    width: 300px;
    margin-left: 3rem;
}

.colonna_logo_returnal {
    height: 40px;
}

.logo_returnal {
    height: 100%;
    max-width: 100%;
}

.titolo_hero {
    color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 30px;
}

.paragrafo_hero {
    color: white;
    margin-bottom: 2rem;
    font-size: 14px;
}

.paragrafo_grigio {
    color: grey;
}

.bottone_rosso {
    background-color: red;
    border-radius: 40px;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
}

/* /hero image returnal */

/* cards returnal - ratchet clank */

.cards_container {
    margin-top: -10rem;
}

.img {
    border-radius: 20px;
    height: 100%;
}

.colonna_img {
    height: 100px;
    width: 100px;
}

/* /cards returnal - ratchet clank */

/* sezione playstation 5 */

.row_play5 {
    justify-content: center;
}

.colonna_play5 {
    width: 720px;
    text-align: center;
}

.p_play {
    color: rgb(62, 132, 211);
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 4rem;
}

.t_play {
    font-weight: bold;
    margin-bottom: 1rem;
}

.contenitore_console {
    margin-top: 15rem;
}

.titolo_play5 {
    margin-bottom: 2rem;
}

.paragrafo_play5 {
    margin-bottom: 2rem;
    font-size: 18px;
}

.bottone_informazioni {
    background-color: blue;
    border-radius: 40px;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
}

.foto_play5 {
    height: 100%;
    max-width: 100%;
}

.col_foto {
    padding: 89px;
    margin-top: -20rem;
    height: 600px;
}

.img-play {
    height: 100%;
    max-width: 100%;
}

.colonna_foto_ps5 {
    height: 100px;
}

.contenitore-cards-play {
    margin-bottom: 2rem;
    justify-content: center;
}

.row_play {
    justify-content: center;
}

/* /sezione playstation 5 */

/* sezione it takes two */

.contenitore_takes {
    width: 100vw;
    height: 574px;
}

.takes_hero_foto {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}

.contenitore_hero_takes {
    bottom: 33rem;
    position: relative;
    width: 300px;
    margin-left: 3rem;
}

.it_takes_photo {
    height: 100%;
    max-width: 100%;
}

.colonna_logo_takes {
    height: 150px;
}

/* /sezione it takes two */

/* sezione nuove uscite */

.contenitore_nuove_uscite {
    width: 100vw;
    height: 820px;
    background-color: #1F1F1F;
    margin-bottom: 3rem;
}

.contenitore_cards_nuove {
    height: 442px;
    padding: 40px;
}

.titolo_nuove_uscite {
    color: white;
}

.paragrafo_nuove_uscite {
    color: white;
    margin-bottom: 1rem;
}

.cards_nuove {
    height: 100%;
    max-width: 100%;
    border-radius: 20px;
}

.card_nuova {
    width: 200px;
    height: 200px;
    border: none;
    float: left;
    margin-right: 2.5rem;
}

.cards_body {
    width: 200px;
    padding: 0;
}

.testo_cards {
    color: white;
    margin-top: 1rem;
}

.testo_cards_due {
    margin-bottom: 0;
    color: white;
}

/* /sezione nuove uscite */

/* contenitore cards PS4 */

.contenitore_cards_ps4 {
    width: 100vw;
    height: 500px;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.cards_ps4 {
    width: calc(100vw / 3);
    height: 400px;
    float: left;
    border: none;
}

.titolo_ps4 {
    font-size: 40px;
    margin-bottom: 1rem;
}

.bottone_ps4 {
    margin-top: 1rem;
    border-radius: 20px;
}

/* /contenitore cards ps4 */

/*sezione playstation plus */

.contenitore_plus {
    background-color: #BEBCBB;
    width: 100vw;
    height: 500px;
    margin-bottom: 3rem;
}

.contenitore_img_plus {
    float: right;
    height: 500px;
}

.img_plus {
    height: 100%;
    max-width: 100%;
}

.contenitore_logo_plus {
    float: right;
    width: calc(100vw / 2);
    margin-top: 8rem;
}

.img_logo_plus {
    height: 100%;
    margin-bottom: 2rem;
}

.colonna_logo_plus {
    height: 100px;
}

.bottone_plus {
    margin-top: 1rem;
    border-radius: 20px;
    border: none;
    background-color: #D9DADC;
    margin-top: 2rem;
}

.scritta_bottone {
    color: #5E86E3;
}

/* /sezione playstation plus */

/* sconti */

.contenitore_sconti {
    width: 100vw;
    height: 500px;
}

.contenitore_foto_sconti {
    padding: 20px;
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

.colonna_sconti {
    width: 350px;
    height: 350px;
}

.img_sconti {
    height: 100%;
    max-width: 100%;
}

.row_sconti {
    justify-content: center;
}

/* /sezione sconti */

/* playstation Now */

.contenitore_now {
    background-color: #161C3B;
    margin-top: 5rem;
}

.paragrafo_now {
    color: white;
    margin-top: 2rem;
}

.scritta_now {
    color: black;
}

.row_now_titolo {
    text-align: center;
}

.row_now {
    text-align: center;
    margin: 300px;
    margin-top: 4rem;
}

.colonna_now {
    height: 150px;
}

.img_now {
    max-width: 100%;
    height: 100%;
}

.img_logo_now {
    height: 100%;
    max-width: 100%;
    margin-bottom: 2rem;
}

.img_social {
    max-width: 100%;
    height: 100%;
}

/* /playstation now */

/* footer */

.contenitore_links_footer {
    background-color: #00439C;
    height: 670px;
    width: 100vw;
    margin-top: -10rem;
}

.contenitore_ps_footer {
    width: calc(100vw / 2);
    float: left;
    padding: 100px;
}

.colonna_sony {
    height: 100px;
}

.colonna_sie {
    height: 60px;
}

.img_sie {
    height: 100%;
    margin-bottom: 1rem;
    max-width: 100%;
}

.row_link_footer {
    color: white;
    line-height: 30px;
}

.p_regione {
    color: white;
    margin-top: 2rem;
    margin-bottom: 8rem;
}

.p_footer {
    color: white;
}

.logo_ps {
    height: 100%;
    max-width: 100%;
}

/* effetti */

.bottone_accedi:hover, .link_search:hover, .bottone_rosso:hover, .bottone_informazioni:hover {
    cursor: pointer;
}

.img:hover {
    /*  height: 110px; */
    cursor: pointer;
}

.img-play:hover {
    cursor: pointer;
    opacity: 50%;
}

/* displayflex */

@media screen and (max-width: 320px) {}