* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

p {
    margin-bottom: 0;
}

/* header */

.contenitore_navbar {
    position: fixed;
    width: 100vw;
}

header {
    position: fixed;
    width: 100vw;
}

.contenitore_sony {
    background-color: black;
    height: 50px;
}

.logo_sony {
    height: 20px;
    margin-top: 15px;
    right: 30px;
    position: absolute;
}

.bottone_accedi {
    background-color: black;
    border-radius: 40px;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
}

.link_playstation {
    color: black;
}

.link_search {
    margin-top: 12px;
    margin-left: 1rem;
    margin-right: 30px;
    font-size: 20px;
}

/* /header */

/* main */

.contenitore_hero {
    width: 100vw;
    height: 900px;
}

.hero-image {
    width: 100vw;
    object-fit: contain;
    height: 800px;
}

.contenitore_returnal {
    position: absolute;
    top: 14rem;
    width: 300px;
    margin-left: 3rem;
}

.logo_returnal {
    height: 40px;
}

.titolo_hero {
    color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 30px;
}

.paragrafo_hero {
    color: white;
    margin-bottom: 2rem;
    font-size: 14px;
}

.paragrafo_grigio {
    color: grey;
}

.bottone_rosso {
    background-color: red;
    border-radius: 40px;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
}

.cards_container {
    margin-top: -10rem;
}

.img {
    height: 100px;
    border-radius: 20px;
}

.row_play5 {
    justify-content: center;
}

.colonna_play5 {
    width: 490px;
    text-align: center;
}

.p_play {
    color: rgb(62, 132, 211);
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 4rem;
}

.t_play {
    font-weight: bold;
    margin-bottom: 1rem;
}

.contenitore_console {
    margin-top: 15rem;
}

.titolo_play5 {
    margin-bottom: 2rem;
}

.paragrafo_play5 {
    margin-bottom: 2rem;
    font-size: 18px;
}

.bottone_informazioni {
    background-color: blue;
    border-radius: 40px;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
}

.foto_play5 {
    height: 600px;
}

.col_foto {
    margin: -15rem;
}

.img-play {
    height: 100px;
}

.contenitore-cards-play {
    margin-top: 13rem;
    margin-bottom: 2rem;
    justify-content: center;
}

.row_play {
    justify-content: center;
}

.contenitore_takes {
    width: 100vw;
    height: 574px;
}

.takes_hero_foto {
    width: 100%;
    object-fit: contain;
}

.contenitore_hero_takes {
    bottom: 33rem;
    position: relative;
    width: 300px;
    margin-left: 3rem;
}

.it_takes_photo {
    height: 150px;
}

.contenitore_nuove_uscite {
    width: 100vw;
    height: 820px;
    background-color: #1F1F1F;
    margin-bottom: 3rem;
}

.contenitore_cards_nuove {
    height: 442px;
    padding: 40px;
}

.titolo_nuove_uscite {
    color: white;
}

.paragrafo_nuove_uscite {
    color: white;
    margin-bottom: 1rem;
}

.cards_nuove {
    height: 200px;
    width: 200px;
    border-radius: 20px;
}

.card_nuova {
    width: 100px;
    height: 100px;
    border: none;
    float: left;
    margin-right: 8rem;
}

.cards_body {
    width: 200px;
    padding: 0;
}

.testo_cards {
    color: white;
    margin-top: 1rem;
}

.testo_cards_due {
    margin-bottom: 0;
    color: white;
}

/* contenitore cards PS4 */

.contenitore_cards_ps4 {
    width: 100vw;
    height: 500px;
    margin-top: 4rem;
}

.cards_ps4 {
    width: calc(100vw / 3);
    height: 400px;
    float: left;
    border: none;
}

.titolo_ps4 {
    font-size: 40px;
    margin-bottom: 1rem;
}

.bottone_ps4 {
    margin-top: 1rem;
    border-radius: 20px;
}

/* /contenitore cards ps4 */

/*sezione playstation plus */

.contenitore_plus {
    background-color: #BEBCBB;
    width: 100vw;
    height: 500px;
}

.contenitore_img_plus {
    float: right;
}

.img_plus {
    height: 500px;
}

.contenitore_logo_plus {
    float: right;
    width: calc(100vw / 2);
    margin-top: 8rem;
}

.img_logo_plus {
    height: 100px;
    margin-bottom: 2rem;
}

.bottone_plus {
    margin-top: 1rem;
    border-radius: 20px;
    border: none;
    background-color: #D9DADC;
    margin-top: 2rem;
}

.scritta_bottone {
    color: #5E86E3;
}